body{
background-color: lightslategrey;
}
p{
color: lightsteelblue;
background-color: cornsilk;
text-align: left;
outline-color: aliceblue;
outline-style: ridge;
text-shadow: 1px 1px 2px lightslategrey;
padding-right:10px;
padding-left:10px;
padding-bottom: 10px;
padding-top:10px;
}

li{
color: lightsteelblue;
background-color: cornsilk;
font-family: sans-serif;	
padding-right:5px;
padding-left:5px;
padding-bottom: 5px;
padding-top:5px;
outline-color: aliceblue;
outline-style: ridge;
text-shadow: 1px 1px 2px lightslategrey;
padding-right:10px;
padding-left:10px;
padding-bottom: 10px;
padding-top:10px;
	
}

