body{
background-color: lightslategrey;
}
/* this is the paragraph style code*/
p{
color: lightsteelblue;
background-color: rgb( 163, 140, 192);
text-align: left;
outline-color: aliceblue;
outline-style: ridge;
text-shadow: 1px 1px 2px lightslategrey;
padding-right:10px;
padding-left:10px;
padding-bottom: 10px;
padding-top:10px;
}
/* this is the list item style code*/
li{
color: lightsteelblue;
background-color: rgb( 163, 140, 192);
font-family: sans-serif;	
outline-color: #F0F8FF;
outline-style: ridge;
text-shadow: 1px 1px 2px lightslategrey;
padding-right:10px;
padding-left:10px;
padding-bottom: 10px;
padding-top:10px;
width: 50%;
height: 50%;
	
}

.body1{
font: sans-serif;
	
}

.body2{
font-color: lightslategrey;
}
table{
	border: solid 1px;
	margin: auto; /* automatically centers content on the screen or whatever it is inside of.
								ex: a div*/
}
td{
	border: solid 1px;
	border-color: black;
	color: lightslategrey;
	background-color: rgb( 163, 140, 192);
}
th{
	border: solid 3px;
	background-color: rgb( 163, 140, 192);
}

img{
	height: 30%;
	width: 30%;
}

